* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Montserrat;
  background-color: #e5e5e5;
  height: 100%;
  overflow-x: hidden;
  margin-right: calc(100vw - 100%);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.loader .wineglass {
  height: 36px;
  position: relative;
}
.loader .wineglass:after {
  content: ''; 
  position: absolute;
  top: 47px;
  left: 5px;
  width: 20px;
  height: 5px;
  background: #C4D9EB;
  box-shadow: 0 0 1px #C4D9EB;
}
.loader .top {
  background: #C4D9EB;
  width: 30px;
  height: 36px;
  border-radius: 0 0 36px 36px;
  box-shadow: 0 0 1px #C4D9EB;
}
.loader .top:before {
  content: ''; 
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: linear-gradient(transparent 50%, #F36E3E 50%);
}
.loader .left .top:before {
  animation: rotate2 2s linear infinite;
}
.loader .right .top:before {
  animation: rotate1 2s linear infinite;
}
.loader .top:after {
  content: ''; 
  position: absolute;
  top: 35px;
  left: 12px;
  width: 6px;
  height: 13px;
  background: #C4D9EB;
  box-shadow: 0 0 1px #C4D9EB;
}
.loader .left {
  display: inline-block;
  margin-right: 10px;
  animation: rotate1 2s cubic-bezier(.39,1.52,.46,.92) infinite;
}
.loader .right {
  display: inline-block;
  animation: rotate2 2s cubic-bezier(.39,1.52,.46,.92) infinite;
}
@keyframes rotate1{
  0% {transform: rotate(0deg);}
  50% {transform:rotate(22deg);}
}
@keyframes rotate2{
  0% {transform:rotate(0deg);}
  50% {transform:rotate(-22deg);}
}
.loader ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 25px;
  position: relative;
  opacity: 0;
  animation: 2s fadeInUp infinite linear 2s;
}
.loader li {
  width: 6px;
  height: 15px;
  background: #C4D9EB;
  position: absolute;
  box-shadow: 0 0 1px #C4D9EB;
  transform-origin: bottom;
}
.loader li:nth-child(1) {
  left: 26px;
  bottom: 5px;
  transform: rotate(-35deg);
}
.loader li:nth-child(2) {
  left: 34px;
  bottom: 8px;
}
.loader li:nth-child(3) {
  left: 42px;
  bottom: 5px;
  transform: rotate(35deg);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: scaleY(1);
  }
  
  33% {
    opacity: 1;
    transform: scaleY(1.4);
  }
  64% {
     opacity: .1;
     transform: scaleY(1);
  }
  100% { 
    opacity: 0;
    transform: scaleY(.3);
  }
}

.auth-modal {
  width: 300px;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
