* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Montserrat;
  background-color: #E5E5E5;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}